<%- include('includes/head.ejs')%>
		</style>
	</head>
	<body>
		<main>
			<h1>Successfully created a user</h1>
			<h2>Welcome to my website "<%= username %>"</h2>
		</main>
<%- include('includes/head.ejs')%>
